@font-face {
	 font-family: "PriceDown";
	 src: url("Emojis.ttf")
 }
 
 @font-face {
 font-family: "Whitney";
 src: url("whitney.ttf")
}

body {
	color: white;
	background-color: #101010;
	font-size:1em;
	font-family:"Whitney"
}

.messageContent-2qWWxC{
	font-family:"PriceDown"
}
 
select{
	padding-top:8px;
	padding-bottom:8px;
}
mention {
	background:hsla(235,calc(var(--saturation-factor, 1)*85.6%),64.7%,0.3);
	border-radius: 3px;
	padding: 0 2px;
}
a {
	color:hsl(197,calc(var(--saturation-factor, 1)*100%),47.8%);
}
.modified::after {
	content:"(modifié)";
	color: gray;
	font-size:0.65em;
	margin-left: 5px;
}
option::before {
	content:"# ";
	color: gray;
	margin-right: 3.5px;
	font-size:1.25em;
}
/*
optgroup::before {
	content:"v";
	color: gray;
	margin-right: 0px;
	font-size:1em;
}
*/
optgroup {
	padding-top:5px;
	padding-bottom:5px;
}

.wrapper-35wsBm {
    background-color: #202225;
    border-radius: 4px;
    padding: 16px;
}
.hidden {position:absolute;top:-1000px}
.username{background:none;border:none;color:white;text-align:center}
.messageContent-2qWWxC {
	position:relative;
	left:64px
}
.username-1A8OIy {
	margin-left:60px;
}
.header-23xsNx {margin-top:10px}
::-webkit-scrollbar {
	display: none;
}
.serverIcon {
	margin-top:16px;
	width: 48px;
	height: 48px;
	border-radius: 24px;
}
option {
	padding-left:24px;
}
.imageAsset{
	max-width:75%;
	max-height:75%;
	border-radius:4px
}
/*RoxCSS*/
input{
	 background-color: var(--input-background);
	 border-radius: var(--input-radius);
	 border: 1px solid rgba(0, 0, 0, 0.3);
	 color: var(--input-color);
	 display: block;
	 font-size: var(--input-font-size);
	 font-weight: var(--input-font-weight);
	 margin: 0;
	 outline-style: none;
	 padding: var(--input-padding);
	 width: calc(100% - var(--input-padding) * 2);
	 max-width: 100%;
	 transition: border-color 0.2s ease-in-out;
	 font-family: sans-serif;
}
:root {
	 --input-radius: 3px;
	 --input-background: rgba(0, 0, 0, 0.1);
	 --input-color: var(--text-default);
	 --input-font-size: 16px;
	 --input-font-weight: 400;
	 --input-padding: 10px;
}

#dropZone {
	position:absolute;
 	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:999;
	left: calc;
	top: 0;
	background: hsl(0, calc(var(--saturation-factor, 1) * 0%), 0%,0.85)
				url('../uploadbox.png');
	background-repeat: no-repeat;
	background-position: center;
}

.repliedMessage-VokQwo::before {
	--avatar-size: 40px;
    --gutter: 16px;
    --spine-width: 2px;
    content: "";
    display: block;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    top: 50%;
    right: 100%;
    bottom: 0;
    left: calc(var(--avatar-size)/2*-1 + var(--gutter)*-1);
    margin-right: var(--reply-spacing);
    margin-top: calc(var(--spine-width)*-1/2);
    margin-left: calc(var(--spine-width)*-1/2);
    margin-bottom: calc(.125rem - 4px);
    border-left: var(--spine-width) solid var(--background-accent);
    border-bottom: 0 solid var(--background-accent);
    border-right: 0 solid var(--background-accent);
    border-top: var(--spine-width) solid var(--background-accent);
    border-top-left-radius: 6px;
}

/* Style for every Element now */

input[name="content"]{
	width:60%;
	position:absolute;
	left:20%;
	bottom: 0px;
	background:#4f545c;
	color:#dcddde;
	border:1px solid transparent	
}

#channelTopic{
	position:absolute;
	left:20%;
	top:15px;
	width:60%;
	height:32px;
	text-align:left;
	padding-left:3%;
	padding-top: calc(18px);
}

#channelName{
	position:absolute;
	left:20%;
	top:0;
	width:60%;
	height:37px;
	text-align:left;
	background: #36393f;
	padding-left:3%;
	padding-top: calc(13px);
	border-bottom: 1px solid black;
}

#messageContainer {
	text-align:left;
	height:calc(100% - 50px - 60px);
	overflow-y:scroll;
	overflow-x: hidden;
	padding-top:10px; 
	padding-bottom:10px; 
	padding-right:20px; 
	width:60%;
	background-color: #36393f;
	display:block; 
	position: absolute;
	top:50px;
	left:20%
}

#channelNames {
	position:absolute;
	left:64px;
	width:calc(20% - 64px);
	top:50px;
	height:calc( 85% + 43px - 50px);
	background:#2f3136;
	border-color:#2f3136;
	color:white;
}

#serverName {
	position:absolute;
	left:64px;
	top:0px;
	width:calc(20% - 64px);
	height:35px;
	padding-top:15px;
	background:#2f3136;
	border-bottom: 1px solid black;
}
#serverList{
	position:absolute;
	left:0;
	top:0;
	background:#202225;
	width:64px;
	height:100%
}